@import "tailwindcss";

/* 1. Daftarkan Font Face */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/plus-jakarta-sans/PlusJakartaSans-Variable.woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-masjid: #10b981;
  /* 2. Daftarkan sebagai Font Sans Utama di Tailwind v4 */
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased overflow-hidden font-sans;
  }

  /* Native desktop feel: nonaktifkan text selection di seluruh UI */
  *, *::before, *::after {
    user-select: none;
    -webkit-user-select: none;
  }

  /* Kecuali di elemen input agar tetap bisa mengetik & copy-paste */
  input, textarea, [contenteditable="true"] {
    user-select: text;
    -webkit-user-select: text;
  }
}
